---
- name: ensure gnupg2 is installed
  apt:
    name: gnupg2
    state: present

- name: Add nginx apt signing key
  get_url:
    url: https://nginx.org/keys/nginx_signing.key
    dest: "/usr/share/keyrings/nginx_signing.key"
    checksum: sha256:55385da31d198fa6a5012d40ae98ecb272a6c4e8fffffba94719ffd3e87de37a
    mode: "0644"
    owner: root
    group: root

- name: Add official nginx repository
  apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/nginx_signing.key] http://nginx.org/packages/debian {{ ansible_distribution_release }} nginx
    state: present
    filename: nginx

- name: Install nginx from their official repository
  apt:
    name: nginx
    state: present
    update_cache: true
  notify: restart nginx

- name: Enable service
  systemd:
    name: nginx
    enabled: true

- name: Edit nginx main conf Configuration
  template:
    src: templates/etc/nginx/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0600'

- name: Change permissions of nginx folders
  file:
    path: /etc/nginx/{{ item }}
    mode: '0700'
  loop:
    - conf.d

- name: Remove default nginx configuration
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Include cloudflare configurations
  include_tasks: cloudflare.yml
  when: cloudflare | bool
