[mysqld]
skip-show-database
skip-grant-tables

safe-user-create=1
secure-auth=1
skip-symbolic-links=1
local-infile=0
allow-suspicious-udfs=0
automatic-sp-privileges=0
secure-file-priv='/tmp'
user=mysql
